
.cardsFatherCont{
    margin: 2rem;
}
.cardsContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem 0rem 2rem 0rem;
}

#emptyCards{
    color: gray;
}

.tableContainer, .deliveryTableContainer{
    margin-right: 2rem;
    margin-left: 2rem;
}

.cartSubTotal{
    border-style:none;
    border-color: white;
}
.tableFatherCont{
    border-style:solid;
    border-width: 1px;
    border-color: rgb(216, 216, 216);
    margin: 2rem;
    padding: 1.5rem 1rem 0rem 1rem;
}
.deliveryFatherCont{
    border-style:solid;
    border-width: 1px;
    border-color: rgb(216, 216, 216);
    margin: 2rem;
    padding: 1rem 1rem 0rem 1rem;
}

th.thUnitCost, th.thTotalCost{
    width: 15%;
}

.btnContainer{
    margin-right: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: flex-end;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 20px;
    height: 20px;
    /* padding: 6px 0px; */
    padding: 0px;
    border-radius: 10px;
    border-color:rgb(177, 177, 175) ;
    text-align: center;
    font-size: 10px;
    line-height: 1.42857;
    color: rgb(97, 97, 97);
}

.deliveryContainer {
    margin-right: 2rem;
    margin-left: 2rem;
}

/* .thTotalCost, .thUnitCost, .thQuantity{
    width: 5vh;
} */
input[type=number]::-webkit-inner-spin-button {
    opacity: 1
}
.inputQuantity{
    max-width: 4rem;
    text-align: center;
}
.sub{
    font-size: 17px;
    font-weight: 400;
}
.subTotalDelivery{
    font-size: 17px;
    font-weight: 700;
    display: flex;
    /* margin-right: 2rem; */
    margin: 2rem;
}

/* Delivery */
.addressForms{
    display: flex;
    flex-direction: row;
}
.addressFormsDiv{
    display: flex;
    flex-direction: row;
    width: 50%;
}

.provinciaForm, .localidadForm{
    margin: 1rem; 
}