#delLastProd, #checkOut{
    pointer-events: none;
    background-color: #c7c7c7;
    border-color: #c7c7c7;
}
.p-inst, .h1-title {
    text-align: center;
    margin: 2rem !important;
}
.labelDiv{
    margin-left: 2rem;
    margin-right: 2rem;
}
footer{
    padding-top: 1rem !important;
}
.divFooter{
/* footer{ */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.btn{
    width: 50vh;
}