@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 3rem;
} 

p {
    font-size: larger;
    word-spacing: 0.1em;
}

strong {
    font-weight: 900;
    color: blue;
}

span {
    font-weight: 900;
    color:indigo;
}